@model Model_to_Controller.Models.Address
<center>
    <h1>Address</h1>
    <br />
    Door number is @Model.DoorNo <br />
    Street name is @Model.Street <br />
    City name is @Model.City <br />
    State name is @Model.State <br />

</center>