
<!--For entering address-->
<form method="post" action="/Home/Address"> <!--goes to home controller method-->
    <input type="text" name="DoorNo" placeholder="Enter Door No "/>
    <br />
    <input type="text" name="Street" placeholder="Enter Street Name" />
    <br />
    <input type="text" name="City" placeholder="Enter City Name" />
    <br />
    <input type="text" name="State" placeholder="Enter State Name" />
    <input type="submit"  />
</form>
