
<!--Player data entry page-->

<h2>Enter player details</h2>
<center>
    <form method="post" action="/Home/PlayerDetails">
        Enter player number
        <input type="text" name="id" /> <!--name should be equal to data fields-->
        <br/><br/>
        Enter player name
        <input type="text" name="name" />
        <br/><br/>
        Enter player runs
        <input type="text" name="runs" />
        <br /><br />
        Enter player country
        <input type="text" name="country"/>
        <br /><br />
        <input type="submit" value="Submit" />
    
    </form>
</center>