<h2>Enter player details</h2>
<center>
    <form method="post" action="/Home/Details/">
        Enter player number
        <input type="text" name="playerId" />
        <br/><br/>
        Enter player name
        <input type="text" name="playerName" />
        <br/><br/>
        Enter player runs
        <input type="text" name="playerRuns" />
        <br /><br />
        Enter player country
        <input type="text" name="playerCountry"/>
        <br /><br />
        <input type="submit" value="Submit" />
    
    </form>
</center>