@model Combine_MVC.Models.Student

<center>
    <br /><br />
    <h2 style="color:yellow">Student Details</h2>
    <h3 style="color:darkred">Student Number: @Model.stno</h3>
    <h3 style="color:yellow">Student Name:@Model.sname</h3>
    <h3 style="color:darkred">Student Fees:@Model.fees</h3>
    <h3 style="color:yellow">Date of Admission: @Model.DOA</h3>
</center>