<h2>
    Enter Student Details
</h2>
<center>
    <br/><br/>
    <form method="post" action="/Home/Details">
    Enter Student number
    <input type="text" name="stno" />
    <br/><br/>
    Enter student Name
    <input type="text" name="sname"/>
        <br /><br />
    Enter student Fees
    <input type="text" name="fees"/>
        <br /><br />
        <input type="submit" value="Submit" />

</form>
</center>